@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root {
    --gap: 10px;
    --background-color: #151515;
    --header-bg: #212121;
    --text-color: #ffffff;
    --footer-text-color: #cccccc;
    --sub-block-a-color: #28a745;
    --icon-size: 48px;
    --border-radius: 10px;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    font-weight: 300;
}

h2,
h3,
h4 {
    display: none;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-out, visibility 1s ease-out;
}

#preloader.hidden {
    opacity: 0;
    visibility: hidden;
}

.loader-content {
    display: flex;
    gap: 8px;
}

.loading-dot {
    width: 10px;
    height: 10px;
    background-color: var(--text-color);
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-out both;
}

.loading-dot:nth-child(1) {
    animation-delay: -0.32s;
}

.loading-dot:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1.0);
    }
}